<app-header-bar></app-header-bar>
<div class="container" fxLayout="column">
    <h2>Create a post</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Your Project Name Here">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Project Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" class="project-creation-button">Submit</button>
      </form>
  </div>

  