<form (ngSubmit)="onSubmit()">
  <label> Post Title: <input type="text" [(ngModel)]="title" name="title" required>
  </label>
  <br/>
  <label> Description: <input type="text" [(ngModel)]="description" name="description" required>
  </label>
  <br/>
  <label> Responsibilities: <input type="text" [(ngModel)]="responsibilities" name="responsibilities" required>
  </label>
  <br/>
  <p>Required Categories</p>

    <input type="radio" id="unpaid" name="Paid" [value]="false" [(ngModel)]="isPaid">
    <label for="unpaid">Un-Paid</label>
    <input type="radio" id="paid" name="Paid" [value]="true" [(ngModel)]="isPaid">
    <label for="paid">Paid</label><br>

    <input type="radio" id="exp_not_req" name="Experience" [value]="false" [(ngModel)]="needsExperience">
    <label for="exp_not_req">Experience Not Required</label>
    <input type="radio" id="exp_req" name="Experience" [value]="true" [(ngModel)]="needsExperience">
    <label for="exp_req">Experience Required</label><br>

    

  <br>

  <p>Optional Categories</p>
  <ng-container #categories></ng-container>
  <br>
  <input type="button" value="Add New Category" (click)="createNewCategory('')">
  <br><br>

  <label> GPA Requirement: <input type="number" [(ngModel)]="gpa" name="gpa">
  </label><br>
  <label> Major: <input type="text" [(ngModel)]="major" name="major">
  </label><br>
  <label> Standing: <input type="text" [(ngModel)]="standing" name="standing">
  </label><br>
  <br>
  <label> Post Image:<input type="file" accept="image/*" id="imageCapturer" (change)="onFileSelected($event)">
    </label>
  
<br>
  <label> Deadline: <input type="date" [(ngModel)]="dateTime" id="choose-date" name="choose-date"></label>
  <br><br>

  <ng-container #customFields></ng-container>

  <input type="button" value="Create Custom Field" (click)="openDialog()">
  <br>

  <br>
  <label> Other Experience: <input type="text" [(ngModel)]="miscExperience" name="misc">
  </label>

  <br><br>
  <button type="button">Next Page</button>


  <br> <br> 

  <!-- delete later -->

  <p> [next page] </p>

  <h1>Create Research Listing</h1>
  <ng-container #customFieldsPage2></ng-container>

  <input type="button" value="Add Custom Field" (click)="addCustomField('', '')">
  <br>

</form>