.project-card-container {
  display: inline-flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

.project-card {
  margin: 10px 20px;
  padding: 10px;
  min-width: fit-content;
  flex-grow: 1;
}

.project-card-title {
  margin-left: 0.5em;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.action-buttons button {
  flex-basis: 30%;
}

.faculty-project-selection-column {
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-selection-button {
  margin-right: 10px;
}