<app-header-bar></app-header-bar>
<div class="faculty-dashboard-page-container">
  <div class="faculty-project-selection-column">
    <button mat-raised-button class="project-selection-button">Active Projects</button>
    <button mat-raised-button class="project-selection-button">Archived Projects</button>
    <button mat-raised-button class="project-selection-button">Project Drafts</button>
    <button mat-raised-button color="primary" class="project-creation-button">Create Project</button>
  </div>
  <div class="faculty-dashboard-info">
    <form class="faculty-search-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search: " class="wide-oval-input">
        </mat-form-field>
      </form>
      <div class="faculty-active-projects">
        <p>Active Project stuff</p>
      </div>
      <div class="faculty-project-applied-student-list">
        <p>student that applied stuff</p>
      </div>
  </div>
</div>

