$dark-primary-text: rgba(black, 0.87);

$pfw-palette-primary: (
    50 : #f9f7f2,
    100 : #f1eade,
    200 : #e7dcc8,
    300 : #ddceb2,
    400 : #d6c4a2,
    500 : #cfb991,
    600 : #cab289,
    700 : #c3aa7e,
    800 : #bda274,
    900 : #b29362,
    A100 : #ffffff,
    A200 : #fff8ee,
    A400 : #ffe4bb,
    A700 : #ffdaa1,
    contrast: (50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $dark-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$pfw-palette-accent: (
    50 : #fbf5e0,
    100 : #f4e6b3,
    200 : #edd580,
    300 : #e5c44d,
    400 : #e0b726,
    500 : #daaa00,
    600 : #d6a300,
    700 : #d09900,
    800 : #cb9000,
    900 : #c27f00,
    A100 : #fff7eb,
    A200 : #ffe3b8,
    A400 : #ffcf85,
    A700 : #ffc56b,
    contrast: (50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $dark-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);

$electric-indigo-palette: (
    50 : #ece1fd,
    100 : #cfb3fa,
    200 : #b081f7,
    300 : #904ef3,
    400 : #7828f1,
    500 : #6002ee,
    600 : #5802ec,
    700 : #4e01e9,
    800 : #4401e7,
    900 : #3301e2,
    A100 : #ffffff,
    A200 : #ddd6ff,
    A400 : #b2a3ff,
    A700 : #9d8aff,
    contrast: (50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);